# Ignore environment variables/secrets
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Streamlit specific local configs
.streamlit/

# (Optional) Ignore OS specific files
.DS_Store
Thumbs.db